{% extends "base.html" %}
{% block title %}
パスワード変更
{% endblock title %}
{% load widget_tweaks %}
{% block content %}
<h3 class="text-center">パスワード変更</h3>
<form class="offset-md-3 col-md-6" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="d-flex flex-column">
        <label for="{{ field.id_for_label}}" class="form-label">{{ field.label }}</label>
        {% render_field field class="form-control mb-2" %}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
        {% for error in field.errors %}
        <small class="text-danger">{{ error }}</small>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
    <div class="d-flex flex-column">
        <button type="submit" class="btn btn-outline-primary mb-3">変更</button>
    </div>
</form>
{% endblock %}