{% extends "base.html" %}
{% block title %}支社一覧{% endblock title %}
{% block content %}
<h3 class="text-center">支社一覧</h3>
<div class="justify-content-center">
    <table class="table table-striped table-bordered table-sm align-middle text-center">
        <th>支社名</th>
        <th>住所</th>
        <th>電話番号</th>
        <th></th>
        {% for brn in object_list %}
        <tr>
            <td>{{ brn.name }}</td>
            <td>{{ brn.address }}</td>
            <td>{{ brn.tel }}</td>
            <td><a href="{% url 'branch_edit' brn.pk %}"><i class="bi bi-pencil-square"></i></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="d-flex d-inline">
    <a class="btn btn-outline-primary mb-2 me-1 d-none d-md-inline" href="{% url 'branch_add' %}" role="button"><i
            class="bi bi-building"></i>登録</a>
    <a class="btn btn-outline-primary mb-2 d-none d-md-inline" href="{% url 'index' %}" role="button">戻る</a>
</div>
{% endblock %}