{% extends "base.html" %}
{% block title %}支社編集{% endblock title %}
{% load widget_tweaks %}
{% block content %}
<h3 class="text-center">支社編集</h3>
<form class="offset-md-3 col-md-6" method="POST">
    {% csrf_token %}
    <label class="form-label">支社名</label>
    {% render_field form.name class="form-control" %}
    <label class="form-label">住所</label>
    {% render_field form.address class="form-control" %}
    <label class="form-label">電話番号</label>
    {% render_field form.tel class="form-control" %}
    <div class="d-inline-flex flex-column">
        <button type="submit" class="btn btn-outline-primary btn-sm mt-2">更新</button>
</form>
<a class="btn btn-outline-primary btn-sm mt-2" href="{% url 'branch_view' %}">戻る</a>

<button type="button" class="btn btn-outline-danger btn-sm mt-2 mb-3" data-bs-toggle="modal"
    data-bs-target="#deleteModal">
    削除
</button>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>"{{ object }}"のデータを完全に削除します。よろしいですか？</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                <form action="{% url 'branch_delete' branch.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">削除</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}