{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<h3 class="text-center">支社追加</h3>
<form class="offset-md-3 col-md-6" action="{% url 'branch_add' %}" method="POST">
    {% csrf_token %}
    <label class="form-label">支社名</label>
    {% render_field form.name class="form-control" %}
    <label class="form-label">住所</label>
    {% render_field form.address class="form-control" %}
    <label class="form-label">電話番号</label>
    {% render_field form.tel class="form-control" %}
    <div class="d-inline-flex flex-column">
        <button type="submit" class="btn btn-outline-primary btn-sm mt-2">登録</button>
</form>
<a class="btn btn-outline-primary btn-sm mt-2 mb-3" href="{% url 'branch_view' %}" role="button">戻る</a>
</div>
{% endblock %}