{% extends "base.html" %}
{% block title %}社員表{% endblock title %}
{% block content %}

<hr>
<h3 class="text-center">社員一覧</h3>
<div class="text-end">
    <a class="btn btn-outline-primary col-auto mb-2" href="{% url 'emp_add' %}" role="button">登録</a>
</div>
<div class="justify-content-center">
    <table class="table table-striped table-bordered table-sm text-center align-middle">
        <th style="width: 15%">社員番号</th>
        <th style="width: 22%">名前</th>
        <th style="width: 15%">役職</th>
        <th style="width: 22%">入社日</th>
        <th style="width: 20%">所属</th>
        <th style="width: 6%"></th>
        {% for emp in employees %}
        <tr>
            <td>{{ emp.emp_id }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.post|default:"" }}</td>
            <td>{{ emp.date_of_entry }}</td>
            <td>{{ emp.branch }}</td>
            <td><a href="{% url 'emp_edit' emp.pk %}"><i class="bi bi-pencil-square"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="pagination justify-content-end">
    <span>
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; 先頭</a>
        <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
        {% endif %}
        <span>
            {% if page_obj.has_next %}
            <!-- 現在よりも後のページが存在する場合 -->
            <a href="?page={{ page_obj.next_page_number }}">次へ</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
            {% endif %}
        </span>
        <!-- 現在のページ番号と、全ページ数を表示 -->
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
</div>

<a class="btn btn-outline-primary col-auto mb-2" href="{% url 'branch_view' %}"><i class="bi bi-building"></i>支社</a>

{% endblock %}